@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		@apply p-0 m-0 box-border;
	}
}

::-webkit-scrollbar {
	background: rgb(29, 29, 32);
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background: rgb(39, 39, 42);
	border-radius: 5px;
	border: 2.5px solid rgb(29, 29, 32);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(63 63 70);
}

::-webkit-scrollbar-track {
	background: transparent;
}

::marker {
	display: none !important;
}
